#final-score {
    font-size: 7rem;
    margin-bottom: 4rem;
}

a.btn {
    display: block;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username-input {
    font-size: 1.8rem;
    padding: 1.2rem;
    width: 20rem;
    border: none;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 0.4rem 1rem 0 rgba(86, 185, 235, 0.5);
    outline-color: #56a5eb;
    text-align: center;
}
  
#username-input:hover {
    cursor: pointer;
}

#username-input::placeholder {
    color: #aaa;
}