.choice-container {
    display: flex;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: #fff;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
} 

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightsalmon;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
    margin-bottom: 3rem;
}

#progress-text {
    margin-bottom: 1.5rem;
}

#progress-bar {
    height: 5rem;
    width: 15rem;
    border: 0.5rem solid #56a5eb;
}

#progress-bar-full {
    background-color: #56a5eb;
    border: 0.2rem solid white;
    height: 4rem;
    width: 66%;
}